*.idea/
__pycache__/
*.pyc
*.egg-info
*.egg
*build/
*.DS_Store
*.bak
*.ipynb_checkpoints/
datasets/covid-chestxray-dataset/*
# activities/*-test.ipynb
slides/.slidev/snapshots/snapshots.json
.DS_Store
.DS_Store
slides/.slidev/snapshots/snapshots.json
